@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Home_search {
  height: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h3-large {
  float: left;
}

.ant-layout-footer {
  background-color: #001529;
  margin-top: 50px;
}

.ant-input-search input,
.ant-input-search button {
  height: 60px;
}

.h3-large + .ant-tag {
  margin-left: 20px;
}

.ant-tag + p {
  clear: left;
}

.ant-tag-green {
  color: #fff;
  background: #52c41a;
  border-color: #52c41a;
  border-radius: 20px;
  font-weight: bold;
}

.ant-tag-gold {
  color: #fff;
  background: #faad14;
  border-color: #faad14;
  border-radius: 20px;
  font-weight: bold;
}

.TagGroup {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
}

.ant-checkbox-group label {
  padding: 10px 0;
}

.lefside-bar {
  margin: 0 30px;
  background: #fff;
  padding: 40px;
}

.lefside-bar h2,
.lefside-bar p {
  text-align: center;
}

.lefside-bar button {
  margin: 0 auto;
  display: block;
}

.anticon-deployment-unit {
  margin: 0 auto;
  width: 100%;
}

.anticon-deployment-unit svg {
  color: #1890ff;
  width: 80px;
  height: 80px;
}
